page-home,
.home {
  ion-list {
    border-radius: 1rem;
    overflow: hidden;

    ion-item,
    .item:first-child,
    .item:last-child {
      border: none;
    }

    ion-datetime {
      padding-left: 0;
    }
  }

  .tevento{
      color: #fff;
    background-color: #496cfa;
    text-align: center;
    padding: 10px;
  }
  .bmarcar{
   display:block;
   text-align:left !important;
   margin-top:5px;

  }
}
